name: Build Test

on:
  pull_request:
  pull_request_target:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
      - uses: viamrobotics/build-action@v1.4
        with:
          version: ""  # Empty = build only, no deploy
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
          key-id: ${{ secrets.VIAM_DEV_API_KEY_ID }}
          key-value: ${{ secrets.VIAM_DEV_API_KEY }}

  build-windows:
    runs-on: windows-2025
    steps:
      - uses: actions/checkout@v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.1'

      - name: Set up
        run: make setup
        shell: bash

      - name: Build module
        run: make module.tar.gz
        shell: bash
